.inputStyle {
  background-color: #858694;
  color: white;
  text-align: right;
  border: 1px solid lightgray;
  font-size: 30px;
  height: 50px;
  width: 995px;
}

.orangeSquare {
  background-color: #f5913e;
  border: 1px solid lightgray;
  font-size: 30px;
  height: 50px;
  width: 250px;
}

.clearSquare {
  background-color: #e0e0e0;
  border: 1px solid lightgray;
  font-size: 30px;
  height: 50px;
  width: 250px;
}

.clearSquare2 {
  background-color: #e0e0e0;
  border: 1px solid lightgray;
  font-size: 30px;
  height: 50px;
  width: 500px;
}

.minus1margin {
  margin-bottom: -1px;
}

.borderStyles {
  border: 1px solid blue;
}
